[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
  ignore = dirty
[submodule "bundle/vim-ipython"]
	path = bundle/vim-ipython
	url = https://github.com/ivanov/vim-ipython.git
  ignore = dirty
